@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('/mantiqueira/src/app/fonts/FuturaMediumCondensedBT.ttf') format('truetype'),
       url('/mantiqueira/src/app/fonts/FuturaBold.ttf') format('truetype');
  font-weight: 400; /* Ajuste conforme necessário */
  font-style: normal; /* Ou 'italic', se aplicável */
}

