@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-futura-medium: 'Futura Medium', sans-serif;
  --font-futura-bold: 'Futura Bold', sans-serif;
  --font-futura-light: 'Futura Light', sans-serif; 
  --font-carollo-medium: 'Carollo Medium', sans-serif; 
}

body {
  font-family: var(--font-futura-light);
  font-size: 20px; 
}

h1 {
  font-family: var(--font-carollo-medium);
  font-size: 2rem;
}

p {
  font-size: 1rem; 
}